<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EliteAuto - Location de Voitures Premium</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo">EliteAuto</div>
            <ul class="nav-links">
                <li><a [routerLink]="['/accueil']">Accueil</a></li>
                <li><a [routerLink]="['/offres']">Nos Voitures</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container car-details-section">
        <div *ngIf="voiture" class="car-details">
          <a [routerLink]="['/offres']"> Retour</a>
          <img *ngIf="voitureImageUrl" [src]="voitureImageUrl" 
          [alt]="voiture.marque + ' ' + voiture.modele" 
          class="car-image">
            <div class="car-info">
                <h1>Voiture : {{ voiture.marque }} {{ voiture.modele }}</h1>
                <div class="car-pricing">
                    <div class="price">{{ voiture.prix }} TND/jour</div>
                    <button class="btn-reserver">Réserver</button>
                </div>
                <div class="car-features">
                    <div><i class="fas fa-car"></i><p>{{ voiture.nombrePortes }} portes</p></div>
                    <div><i class="fas fa-snowflake"></i><p>Année de fabrication : {{ voiture.annee }}</p></div>
                   
                    <div><i class="fas fa-gas-pump"></i><p>Carburant : {{ voiture.typeCarburant }}</p></div>
                    <div><i class="fas fa-palette"></i><p>Couleur : {{ voiture.couleur }}</p></div>
                    <div><i class="fas fa-euro-sign"></i><p>Caution : {{ voiture.montantCaution }} TND</p></div>
                    <div><i class="fas fa-info-circle"></i><p>nombrePassagers: {{ voiture.nombrePassagers }}</p></div>
                </div>
            
            </div>
            <p *ngIf="message" class="message">{{ message }}</p>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>À propos d'EliteAuto</h3>
                    <p>EliteAuto est votre partenaire de confiance pour la location de voitures de luxe. Nous nous engageons à fournir une expérience de conduite exceptionnelle.</p>
                </div>
                <div class="footer-section">
                    <h3>Liens Rapides</h3>
                    <ul>
                      <li><a [routerLink]="['/accueil']">Accueil</a></li>
                      <li><a [routerLink]="['/offres']">Nos Voitures</a></li>
                      <li><a href="#contact">Contact</a></li>
                    
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Contact</h3>
                    <p>Email: info@eliteauto.com</p>
                    <p>Téléphone: ******</p>
                    <p>Adresse:*******</p>
                </div>
                <div class="footer-section">
                    <h3>Suivez-nous</h3>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; 2023 EliteAuto - Location de Voitures Premium. Tous droits réservés.</p>
            </div>
        </div>
    </footer>
</body>
</html>
